.post-container {
    border: solid black 1px;
    background-color: white;
    border-radius: 5px;
    width: 65vw;
    padding-top: 10px;
    padding-bottom: 10px;
}
.parent-container {
    display: flex;
    justify-content: center;
}
#btn {
    position:relative;
    left:17%;
    width: 65vw;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 35px;
    background-color: white;
}